/* Filename: src/App.css */
.app
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 0;
    background-color: #000;
}
