/* Filename: src/index.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #000;
  color: #fff;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overscroll-behavior: none;
  user-select: none;
  touch-action: manipulation;
}

/* Root Container Hinting. */
#root { display: flex; align-items: stretch; justify-content: stretch; width: 100%; height: 100%; }

/* Reduce gradient banding for high-resolution screens. */
@media (min-resolution: 2dppx)
{
  body { background-color: #000; }
}
